.base{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

.field {
  text-align: center;  
  margin: auto;
}

.score{
  text-align: center;
  margin: auto;
}

#fieldTable{
  border-width: medium;
  width: 30vw;
  height: 30vw;  
}
